version: '3.8'
services:
  auth-service:
    build: .
    ports:
      - "50051:50051"
    environment:
      CONFIG_PATH: /config/local.yaml
    depends_on:
      - postgres
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_service
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: